@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: 'Anuphan', sans-serif;
    
}

html {
    font-size: calc(35% + 0.8vmin);
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
    font-size: 1.6rem;
    box-shadow: #818181 1px 7px 9px;
    position: sticky;
    top: 0;
}

.nav-con {
    max-width: 900px;
    width: 100%;
    display: flex;
    color: #1F232D;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo:hover {
    transform: scale(1.02);
}

.login-btn {
    background-color: #b6b6b6;
    border-radius: 30px;
    box-shadow: #7a7a7a 5px 5px 5px;
    padding: 0.625rem 2.5rem;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    margin: 0.7rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #1F232D;
    ;
}

.navbar a:hover {
    color: #818181;
}

/*  */

.container{
    padding-top: 5rem !important
}

.main-con {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh !important;
    max-width: 900px;
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.input-box i, .input-box .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i{
    left: 20px;
    font-size: 30px;
}

.input-box .button{
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #fff;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #2e2e2e;
    cursor: pointer;
}

.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 20px;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.checked {
    color: orange;
  }

  .checked1 {
    color: orange;
  }

.shop-con{
    margin-top: 40px;
    width: 100%;
    display: flex;
     flex-wrap: wrap; 
    height: 500px;
    background-color: rgb(179, 173, 185);
    border-radius: 20px;
}

.shop-1{
    width: 100%;
    display: flex;
    height: 50%;
    margin-top: 5px;
}

.shop-2{
    width: 100%;
    height: 50%;
    margin-top: 5px;
    display: flex;
}

.shop-con .pic{
    width: 40%;
    height: 200px;
    /* background-color: red; */
    /* border-radius: 20px; */
}

.shop-con .pic img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 25px;
}

.shop-con .pic-2{
    width: 40%;
    height: 200px;
    /* background-color: red; */
    /* border-radius: 20px; */
}

.shop-con .pic-2 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 25px;
}

.shop-con .list{
    margin-left: 40px;
    width: 55%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
}

/* .shop-con .list-2{
    margin-left: 40px;
    width: 55%;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
} */

.shop-con .list p{
    padding: 20px 0 0 20px;
}

.shop-con .list h2{
    padding: 20px 0 0 20px;
}

/* .shop-con .list-2 p{
    padding: 20px 0 0 20px;
} */

.shop-con .list .p2{
    padding: 5px 0 0 20px;
}

/* .shop-con .list-2 .p2{
    padding: 5px 0 0 20px;
} */

.shop-con .fes{
    padding-left: 20px;
    padding-top: 5px;
}

.selected{
    position: absolute;
    right: 80px;
    bottom: 20px;
}

/* .selected button{
    background-color: #1F232D;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 12px 30px;
    cursor: pointer;
} */

.selected  a{
    text-decoration: none;
    background-color: #1F232D;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 12px 30px;
    cursor: pointer;
}

.selected  a:hover{
    background-color: #525e6b;
    cursor: pointer;
}

.nohave{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .main-con h1 {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    .logo {
        display: none;
  }

    .navbar{
        font-size: 1.2rem;
    }

    .navbar ul{
        justify-content: center;
    }
    /* search */
    .input-box{
        height: 66px;
        margin: 0 8px;
    }
    .input-box i{
        left: 12px;
    }
    .input-box input{
        padding: 0 112px 0 50px;
    }
    .input-box .button{
    right: 12px;
    padding: 8px 18px;
    }
    .selected{
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
    .selected a{
        background-color: #1F232D;
        border-radius: 20px;
        border: none;
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        padding: 12px 30px;
        cursor: pointer;
    }
}