@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: 'Anuphan', sans-serif;
}

html {
    font-size: calc(35% + 0.8vmin);
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
    font-size: 1.6rem;
    box-shadow: #818181 1px 7px 9px;
}

.nav-con {
    max-width: 900px;
    width: 100%;
    display: flex;
    color: #1F232D;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.login-btn {
    background-color: #b6b6b6;
    border-radius: 30px;
    box-shadow: #7a7a7a 5px 5px 5px;
    padding: 0.625rem 2.5rem;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    margin: 0.7rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #1F232D;
    ;
}

.navbar a:hover {
    color: #818181;
}

/*  */

.container{
    padding-top: 2rem !important
}

.main-con {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh !important;
    max-width: 900px;
}
